.navba {
  background-color: #111827;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navba .logo {
  font-size: 24px;
  font-weight: bold;
}

.navba .nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navba .nav-links a:hover {
  color: #38bdf8;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.main-content h1 {
  color: #38bdf8;
  font-size: 36px;
  margin: 0;
}

.main-content h1 span {
  color: #333;
}

.main-content p {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

.main-content .email-section {
  display: flex;
  margin-top: 20px;
}

.main-content input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  width: 300px;
  outline: none;
}

.main-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #38bdf8;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-content button:hover {
  background-color: #0e7490;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50rem; /* Khoảng cách giữa các cột */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%; /* Đảm bảo các hàng chiếm toàn bộ chiều rộng */
}

.logo-item {
  width: 90px; /* Chiều rộng của tổ ong */
  height: 90px; /* Chiều cao của tổ ong */
  background-color: #f0f0f0;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  ); /* Hình dạng tổ ong */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px; /* Khoảng cách giữa các logo */
  transition: transform 0.3s ease;
}

.logo-item img {
  width: 60px; /* Kích thước hình ảnh */
  height: 60px; /* Kích thước hình ảnh */
}

.logo-item:hover {
  transform: scale(1.1);
}
